configuration {
	terminal: "desu-terminal";
	ssh-client: "ssh";
	ssh-command: "desu-ssh -e {ssh-client} {host}";
	sort: true;
	sorting-method: "fzf";
	matching: "fuzzy";
	dpi: 1;
        kb-accept-alt: "Tab";
        kb-element-next: "";
        kb-mode-previous: "Shift+Left";
	kb-cancel: "Escape,Control+g,Control+bracketleft,Super+Q";
  timeout {
      action: "kb-cancel";
      delay:  15;
  }
}
@theme "/usr/share/rofi/themes/gruvbox-dark-hard.rasi"
