[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Testchart Editor
GenericName=Testchart editor
Exec=displaycal-testchart-editor
Icon=displaycal-testchart-editor
Terminal=false
Categories=Graphics;
Comment=A testchart editor and creator for RGB testcharts in ArgyllCMS CGATS format
NoDisplay=true
