[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Scripting Client
GenericName=Scripting Client
Exec=displaycal-scripting-client
Icon=displaycal-scripting-client
Terminal=false
Categories=Graphics;
Comment=Control DisplayCAL via simple scripting commands
NoDisplay=true
