[Desktop Entry]
Name=Remote Viewer
Comment=Access remote desktops
Exec=remote-viewer %u
Type=Application
Terminal=false
MimeType=x-scheme-handler/spice;application/x-virt-viewer;
StartupNotify=true
Categories=GNOME;GTK;Network;RemoteAccess;
Icon=virt-viewer
NoDisplay=true
