[Desktop Entry]
Name=RuneLite
GenericName=Old School Runescape
Comment=RuneLite with 4GB of Java heap
Exec=RuneLite.AppImage -J -Xmx4096m
Terminal=false
Type=Application
StartupNotify=true
NoDisplay=true
