[Desktop Entry]
Name=Weechat
Categories=Application
GenericName=IRC Client
Exec=/bin/sh -c 'WEECHAT_PASSPHRASE=$(get-automation-password weechat) xfce4-terminal -x weechat'
# xfce4-terminal until https://github.com/jwilm/alacritty/issues/2069 is fixed
Terminal=false
Type=Application
MimeType=x-scheme-handler/irc
